<div class="container">
  <mat-form-field class="search-form-field">
    <mat-label>Busca tu Pokémon</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Escribe el nombre" #input class="search-input">
  </mat-form-field>

  <div class="pokemon-grid">
    <div *ngIf="dataSource.filteredData.length === 0" class="no-data-message">
      Pokémon no encontrado "{{input.value}}"
    </div>

    <div *ngFor="let row of dataSource.filteredData | slice:(paginator.pageIndex * paginator.pageSize):((paginator.pageIndex + 1) * paginator.pageSize)" class="pokemon-card" (click)="getRow(row)">
      <div class="pokemon-id">Nº {{row.position}}</div>
      <img src="{{row.image}}" alt="pokemon" class="pokemon-image">
      <div class="pokemon-name">{{row.name}}</div>
    </div>
  </div>

  <mat-paginator [length]="dataSource.filteredData.length"
                 [pageSize]="5"
                 [pageSizeOptions]="[5, 10, 25, 100]"
                 aria-label="Select page of Pokémon">
  </mat-paginator>
</div>
