<footer class="footer">
  <div class="footer-container">
    <h2 class="footer-title">Sobre el Proyecto</h2>
    
    <section class="footer-section developer-info">
      <h3 class="footer-subtitle">Información del Desarrollador</h3>
      <p class="footer-text">Nombre: Leandro Ant. Vidal Núñez</p>
      <p class="footer-text">Email: leandro1531&#64;outlook.com</p>
      <p class="footer-text">LinkedIn: <a href="https://www.linkedin.com/in/leandro-antonio-vidal-n%C3%BA%C3%B1ez-655979229/" target="_blank">Leandro Vidal</a></p>
      <p class="footer-text">GitHub: <a href="https://github.com/Lenaavn" target="_blank">Leandro Vidal</a></p>
    </section>
    
    <section class="footer-section project-description">
      <h3 class="footer-subtitle">Descripción del Proyecto</h3>
      <p class="footer-text">Este proyecto es una aplicación de gestión de Pokémon que permite a los usuarios buscar y ver detalles sobre diferentes Pokémon. Utiliza Angular para el frontend y consume la API de Pokémon para obtener los datos.</p>
    </section>
    
    <section class="footer-section feedback">
      <h3 class="footer-subtitle">Feedback sobre la Solución</h3>
      <p class="footer-text"><strong>Pros:</strong></p>
      <ul class="footer-list">
        <li>Interfaz de usuario intuitiva y fácil de usar.</li>
        <li>Datos en tiempo real gracias a la integración con la API de Pokémon.</li>
        <li>Diseño responsivo que se adapta a diferentes dispositivos.</li>
      </ul>
      <p class="footer-text"><strong>Contras:</strong></p>
      <ul class="footer-list">
        <li>Tiempo de carga inicial puede ser lento debido a la cantidad de datos obtenidos.</li>
        <li>Requiere una conexión a Internet estable para funcionar correctamente.</li>
      </ul>
      <p class="footer-text"><strong>Elementos más difíciles:</strong></p>
      <ul class="footer-list">
        <li>Integración con la API de Pokémon y manejo de datos asíncronos.</li>
        <li>Configuración de Angular Material para una apariencia personalizada.</li>
      </ul>
      <p class="footer-text"><strong>Elementos más fáciles:</strong></p>
      <ul class="footer-list">
        <li>Diseño de la estructura básica de la aplicación.</li>
        <li>Implementación de componentes reutilizables en Angular.</li>
      </ul>
    </section>
  </div>
</footer>
